:root {
    --variable-collection-background-color: rgba(4, 10, 17, 1);
    --variable-collection-button-color-2: rgba(73, 40, 106, 1);
    --variable-collection-font-color: rgba(156, 168, 187, 1);
    --variable-collection-font-color-2: rgba(191, 192, 137, 1);
  }