/* Header.css */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 80px;
  background-color: transparent;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
}

.header-title {
  font-weight: 700;
  font-size: 24px;
}

.header-nav {
  display: flex;
  gap: 30px;
}

.header-nav a,
.header-nav span {
  color: #ffffff;
  text-decoration: none;
  font-weight: 500;
}

.header-user a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 5px;
}
