/* Login.css */
.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: transparent;
  padding: 5vh 5vw; /* Flexible padding for responsiveness */
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  min-height: 10vh; /* Ensure full height on all screens */
}

.title {
  font-size: 2rem; /* Use scalable font size */
  font-weight: 700;
  margin-bottom: 30px;
  color: #ffffff;
}

.input-group {
  position: relative;
  width: 90%; /* Flexible width for smaller screens */
  max-width: 320px; /* Limit input width */
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

.input-group input {
  width: 100%;
  height: 50px;
  padding: 10px 0px 10px 15px;
  font-size: 1rem; /* Scalable font size */
  border: none;
  border-radius: 8px;
  background-color: #cecece;
  color: #333;
  outline: none;
}

.input-icon {
  position: absolute;
  right: 15px;
  color: #333;
}


.button-group {
  display: flex;
  align-items: center;
  margin-top: 15px;
  flex-direction: column; /* Stack buttons on small screens */
}

.button {
  width: 220px;
  height: 45px;
  border-radius: 25px;
  background-color: rgba(73, 40, 106, 1);
  color: #ffffff;
  font-size: 1rem; /* Scalable font size */
  font-weight: 700;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-bottom: 10px; /* Add spacing between buttons */
}

.social-icons {
  display: flex;
  gap: 10px;
  margin-top: 15px;
}

.icon-button {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 1.125rem; /* Scalable icon size */
  border: none;
}

.google-button {
  background-color: #ffffff;
  color: #db4437; /* Google brand color */
}

.discord-button {
  background-color: #5865f2;
  color: #ffffff;
}

.register-text {
  margin-top: 15px;
  font-size: 0.875rem; /* Scalable font size */
  color: #9cabbb;
}

.register-text a {
  color: #ff00e5;
  text-decoration: none;
  font-weight: 500;
}

/* Responsive Design */

/* Small devices (phones) */
@media (max-width: 768px) {
  .title {
    font-size: 1.5rem; /* Reduce title size for smaller screens */
  }

  .input-group {
    width: 95%; /* Adjust width for smaller screens */
  }

  .button {
    width: 90%; /* Buttons fill most of the screen */
  }

  .icon-button {
    width: 40px; /* Smaller icons */
    height: 40px;
    font-size: 1rem;
  }

  .register-text {
    font-size: 0.8rem; /* Adjust font size */
  }
}

/* Medium devices (tablets) */
@media (min-width: 768px) and (max-width: 1024px) {
  .title {
    font-size: 1.8rem; /* Slightly smaller title for tablets */
  }

  .input-group {
    width: 90%;
  }

  .button {
    width: 220px; /* Keep default button size */
  }

  .icon-button {
    width: 45px;
    height: 45px;
  }

  .register-text {
    font-size: 0.9rem;
  }
}

/* Large devices (
