.login-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center poravnava */
  padding: 10px;
  max-width: 1100px;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
}

.tournament-select {
  margin-top: 10px;
  padding: 10px;
  font-size: 1rem;
  color: #333;
  border-radius: 10px;
  border: none;
  width: 100%;
  max-width: 400px;
}


.team-name {
  font-size: 2.5rem; /* Večja velikost za ime */
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  padding: 10px 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

/* Vsebina pod imenom */
.content-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /* Tri stolpci */
  grid-gap: 20px; /* Razmik med stolpci */
  width: 100%;
}

.login-section,
.tournament-selection,
.slogan-section {
  border-radius: 10px;
  margin-left: 10px;
  padding: 20px;
}

/* Gumb za shranjevanje */
.button-section {
  margin-top: 20px;
  width: 100%;
  text-align: center;
}

.save-button {
  background-color: #6c3a9b;
  position: center;
  margin-left: 25px;
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 12px 30px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.save-button:hover {
  background-color: #5a3085;
  transform: scale(1.05);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Temno ozadje */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.modal h2 {
  margin-bottom: 20px;
}

.modal button {
  padding: 10px 20px;
  margin: 10px;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.modal button:hover {
  background-color: #e0e0e0;
}

.main-content.disabled {
  pointer-events: none; /* Onemogoči vse interakcije */
  opacity: 0.5; /* Zatemni vsebino */
}